.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.features-small-item {
    height: 40vh;
    border: 1px solid rgba(217, 6, 4, 0.25);
}

.mini-box {
    height: 27vh;
}

/* .team-item {
    height: 30vh;
} */

.pricing-item {
    height: 70vh;
}